@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*----------------Colours---------------*/

.style-name {
  background-color: #93c6e0;
}

body {
  background-color: #006d77;
  margin: 0;
  padding: 0;
}

.ui-menu-color-home {
  background-color: #3eb489;
}

.ui-menu-color-course {
  background-color: #3eb489;
}

.ui-menu-color-fixture {
  background-color: #3eb489;
}

.ui-menu-color-book {
  background-color: #3eb489;
}

/*----------------Headings---------------*/

header {
  margin: 0;
}

.heading {
  margin-left: 50px;
}

.logo {
  background: url("../images/bluebash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.name {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 54px;
  margin-top: 50px;
  color: #fff;
}

.slogan {
  font-family: "great vibes", cursive;
  font-size: 32px;
  margin-top: 50px;
  margin-bottom: 80px;
  color: #ffd166;
}

.list-inline-item:not(:last-child) {
  margin: 0;
}

.menucontainer {
  font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
  font-size: 14px;
  padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fff;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

/*----------------Hoover.css---------------*/

.hvr-sweep-to-right::before {
    background: rgba(255, 209, 102, 50);
    height: 120px;
}